/* 
layout.css - general positioning on the page:
1. Apply to elements such as header, footer, nav, aside
2. Classes and IDs can be included here*/

*, *:before, *:after {
    box-sizing: border-box;
}

/* Default media - Mobile */

main {
    background-color:#D9D9D9;
    width: 480px;
    height: 1500px;
    margin: 0 auto;
    text-align: center;
    /* border: 2px solid black; */
}

/* Header */

nav {
    background-color: #595959;
    height: 75px;
    line-height: 75px;
}

.sub-title {
    background-color: #A6A6A6;
    height: 75px;
    line-height: 75px;
}

